<div class="modal-header">
    <h2>Editar Empleado: {{ empleado.nombre }}</h2>
    <span class="close-btn" onclick="cerrarModalEditar()">&times;</span> 
</div>

<form id="formulario-edicion" method="POST" action="/guardarModificacion">
    
    <input type="hidden" name="empleadoId" value="{{ empleado.id }}">

    <label for="cedula">Cédula:</label>
    <input type="number" id="cedula" name="cedula" value="{{ empleado.cedula }}" required>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{ empleado.nombre }}"
    pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" 
    title="Solo letras" required>
    
    
    <label for="puestoId">Puesto:</label>
    <select id="puestoId" name="puestoId" required>
        {% for puesto in puestos %}
            <option value="{{ puesto.id }}" 
                {% if puesto.id == empleado.idPuestoActual %}selected{% endif %}>
                {{ puesto.nombre }}
            </option>
        {% endfor %}
    </select>
    
    <button type="submit">Guardar Cambios</button>
    <button type="button" onclick="cerrarModalEditar()">Cancelar</button>
</form>