<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Empleados</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    
    <h1>Lista de Empleados</h1>
    
    <form action="/index" method="post" class="form-filtro">
    <input type="text" name="filtro" placeholder="Filtrar por nombre o cedula" 
        pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ0-9\s]+" 
        title="Solo letras o numeros">
        <button type="submit" class="boton-filtrar">Filtrar</button>
    </form>

    <table border="1">
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Saldo</th>
            <th></th>
        </tr>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.cedula }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.puesto }}</td>
            <td>{{ empleado.saldo }}</td>
            <td>
        <div class="dropdown">
          
          <button class="menu-btn" onclick="desplegarMenu('menu-{{ empleado.id }}')">
            &#8942; </button>
          
          <div id="menu-{{ empleado.id }}" class="dropdown-content">
            
            <a href="/listarMovimientos/{{ empleado.id }}" target="_blank">
                Ver Movimientos
            </a>
            
            <a href="#" onclick="abrirModalConsulta('{{ empleado.cedula }}'); return false;">
                Consulta 
            </a>

            <a href="#" onclick="abrirModalEditar('{{ empleado.cedula }}'); return false;">
                Editar (Modal)
            </a>

            <form method="POST" action="/eliminar">
                <input type="hidden" name="empleado_id" value="{{ empleado.id }}">
                <button type="submit" class="dropdown-link-btn" 
                        onclick="return confirm('¿Eliminar a {{ empleado.nombre }}?')">
                    Eliminar
                </button>
            </form>
          </div>
        </div>
        </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Agregar Empleado</h2>

    <button onclick="document.getElementById('modal').style.display='block'">
    Insertar empleado
</button>


<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('modal').style.display='none'">&times;</span>
        <h2>Insertar empleado</h2>
        <form action="/insertar" method="POST">
            <input type="text" name="nombre" placeholder="Nombre" 
            pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" 
            title="Solo letras" required>
            <input type="number" name="cedula" placeholder="cedula" required>
            //falta puesto con dropdown
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

<div id="modalConsulta" style="display: none; border: 1px solid black; padding: 20px; background: #eee; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100;">
    <h3>Consulta de Empleado</h3>
    <hr>
    <div>
        <strong>Documento de Identidad:</strong> <span id="modal_cedula"></span>
    </div>
    <div>
        <strong>Nombre:</strong> <span id="modal_nombre"></span>
    </div>
    <div>
        <strong>Puesto:</strong> <span id="modal_puesto"></span>
    </div>
    <div>
        <strong>Saldo de Vacaciones:</strong> <span id="modal_vacaciones"></span>
    </div>
    <hr>
    <button onclick="cerrarModalConsulta()">Cerrar</button>
</div>
</body> 
<script src="{{ url_for('static', filename='js/desplegarMenu.js') }}"></script>
<script src="{{ url_for('static', filename='js/abrirModalConsulta.js') }}"></script>
<script src="{{ url_for('static', filename='js/abrirModalEditar.js') }}"></script>
</html>