<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Empleados</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    
    <h1>Lista de Empleados</h1>
    
    <form action="/filtrar" method="get" class="form-filtro">
        <input type="text" name="nombre" placeholder="Filtrar por nombre o cedula" 
            pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ0-9\s]+" 
            title="Solo letras o numeros" required>
            <button type="submit"class="boton-filtrar">Filtrar</button>
    </form>

    <table border="1">
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Puesto</th>
            <th></th>
        </tr>
        {% for emp in empleados %}
        <tr>
            <td>{{ emp.cedula }}</td>
            <td>{{ emp.nombre }}</td>
            <td>{{ emp.puesto }}</td>
            <td>
        <div class="dropdown">
          
          <button class="menu-btn" onclick="toggleMenu('menu-{{ emp.cedula }}')">
            &#8942; </button>
          
          <div id="menu-{{ empleado.cedula }}" class="dropdown-content">
            
            
            <a href="#" onclick="abrirModalModificar('{{ empleado.cedula }}'); return false;">
                Editar (Modal)
            </a>

            <form method="POST" action="{{  }}">
                <input type="hidden" name="empleado_id" value="{{ emp.cedula }}">
                <button type="submit" class="dropdown-link-btn" 
                        onclick="return confirm('¿Eliminar a {{ emp.nombre }}?')">
                    Eliminar
                </button>
            </form>
          </div>
        </div>
        </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Agregar Empleado</h2>

    <button onclick="document.getElementById('modal').style.display='block'">
    Insertar empleado
</button>


<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('modal').style.display='none'">&times;</span>
        <h2>Insertar empleado</h2>
        <form action="/insertar" method="POST">
            <input type="text" name="nombre" placeholder="Nombre" 
            pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" 
            title="Solo letras" required>
            <input type="number" name="Cedula" placeholder="Cedula" required>
            //falta puesto con dropdown
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>


</html>