<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Movimientos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Movimientos de {{nombreEmpleado}}</h1>

    <h2>Historial de Movimientos (Descendente por Fecha)</h2>
    
    {% if movimientos %}
    <table border="1">
        <thead>
            <tr>
                <th>Fecha Movimiento</th>
                <th>Tipo de Movimiento</th>
                <th>Monto</th>
                <th>Nuevo Saldo</th>
                <th>Usuario que Registró</th>
                <th>IP de Registro</th>
                <th>Estampa de Tiempo</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in movimientos %}
            <tr>
                <td>{{ mov.fecha }}</td>
                <td>{{ mov.tipo }}</td>
                <td>{{ mov.monto | round(2) }}</td>
                <td>{{ mov.nuevoSaldo | round(2) }}</td>
                <td>{{ mov.usuarioPost}}</td>
                <td>{{ mov.ipPost }}</td>
                <td>{{ mov.tiempoPost }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay movimientos registrados para este empleado.</p>
    {% endif %}
    <h3>Agregar movimiento</h3>
    <button onclick="document.getElementById('modal').style.display='block'">
    Insertar movimiento
</button>

<div id="modal" class="modal">
    <div class="modal-content">
        <h3>Insertar movimiento a {{cedula}}-{{nombreEmpleado}}. Saldo: {{saldoEmpleado}}</h3>
        <form action="/insertarMovimiento/{{empleadoId}}" method="POST">
            <label for="movId">Tipos de Movimiento:</label>
            <select id="movId" name="movId" required>
                {% for mov in movs %}
                    <option value="{{ mov.id }}"> {{ mov.nombre }}
                    </option>
                {% endfor %}
            </select>
            <input type="number" name="monto" placeholder="Monto" required>  
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

</body>
</html>